.colna{
    margin: 0px 10px;
}
.cardlength-content{
    width: 36px;
    height: 26px;
    margin: 0 72.5px 21px 5.5px;
    padding: 2px 13px;
    border-radius: 13px;
    background-color: #d6d9e0;
}