.column-section{
    .data-section{
        flex-direction: column;
        width: 334px;
        height: auto;
        margin-left: 15px;
        padding: 11.5px 17.5px 301px 18.5px;
        border-radius: 4px;
        box-shadow: 0 2px 3px 0 #ccc;
        background-color: #fff;
    }
    .title-content{
        font-family: ProximaNova;
        font-size: 18px;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.22;
        letter-spacing: normal;
        text-align: left;
        margin: 4.5px 6.5px 24.5px 5.5px;
        color: #3e4a64;
    }
    .img-content{
        margin-left: auto;
    }
    .filterimg-content{
        margin-right: 15px;
        position: relative;
        cursor: pointer;
    }
    .preferencesimg-content{
        position: relative;
        cursor: pointer;
    }
    .filterwhole-content{
        width: 150px;
        height: auto;
        margin: 30px 0px 0px -133px;
        padding: 10px;
        position: absolute;
        border-radius: 4px;
        z-index: 2;
        cursor: pointer;
        box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.16);
        background-color: #fff;
    }
    .filterheading-content{
        font-family: ProximaNova;
        font-size: 14px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        letter-spacing: normal;
        text-align: left;
        opacity: 0.5;
        color: #3e4a64;
    }
    .filter-content{
        font-family: ProximaNova;
        font-size: 15px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 25px;
        letter-spacing: normal;
        text-align: left;
        color: #3e4a64;
    }
    .sortwhole-content{
        width: 125px;
        height: auto;
        margin: 32px 0px 0px -70px;
        padding: 10px;
        z-index: 2;
        border-radius: 4px;
        position: absolute;
        cursor: pointer;
        box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.16);
        background-color: #fff;
    }
    .preferenceswhole-content{
        width: 130px;
        height: auto;
        margin: 30px 0px 0px -58px;
        padding: 10px;
        z-index: 2;
        border-radius: 4px;
        position: absolute;
        cursor: pointer;
        box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.16);
        background-color: #fff;
    }
}